name: Publish

on:
  workflow_call:
    inputs:
      git-tag-prefix:
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/joinself/tools
    steps:
      - name: Setup job
        uses: joinself/github-actions-public/setup-job@main
      - name: Publish
        shell: bash
        env:
          GIT_TAG_PREFIX: ${{ inputs.git-tag-prefix }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_CI_PLATFORM: ${{ secrets.SLACK_WEBHOOK_CI_PLATFORM }}
        run: |
          . ${GITHUB_WORKSPACE}/.ci/env

          version=$(${CI_SCRIPTS}/get-new-version)

          git tag -a ${GIT_TAG_PREFIX}${version} -m "${GIT_TAG_PREFIX}${version}"
          git push origin ${GIT_TAG_PREFIX}${version}

          release_notes=$(${CI_SCRIPTS}/git-get-release-notes)
          gh release create "${GIT_TAG_PREFIX}${version}" --prerelease --notes "${release_notes}"

          ${CI_SCRIPTS}/slack-release-notification -v ${GIT_TAG_PREFIX}${version}
