name: Release

on:
  workflow_call:
    inputs:
      version:
        description: "Git tag to release e.g. 1.2.3-4"
        type: string
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/joinself/tools
    steps:
      - name: Setup job
        uses: joinself/github-actions-public/setup-job@main
        with:
          git-ref: ${{ inputs.version }}
      - name: Release
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_CI_PLATFORM: ${{ secrets.SLACK_WEBHOOK_CI_PLATFORM }}
        run: |
          . ${GITHUB_WORKSPACE}/.ci/env

          current_version=$(${CI_SCRIPTS}/get-current-version)
          release_version="${current_version%-*}"

          git tag -a ${release_version} -m "${release_version}"
          git push origin ${release_version}

          patch_version="${release_version#*.*.}"
          if [[ "${patch_version}" == "0" ]]; then
            git checkout -b release-${release_version%.*}
            git push origin release-${release_version%.*}
          fi

          main_current_release=$(${CI_SCRIPTS}/get-current-version --branch origin/main --type release)
          if [[ "${patch_version}" != 0 ]] && [[ "${main_current_release%.*}" != "${release_version%.*}" ]]; then
            gh release create "${release_version}" --latest=false
          else
            gh release create "${release_version}"
          fi

          ${CI_SCRIPTS}/slack-release-notification -v ${release_version}
